a,

a:hover,
a:focus,

a:link,
a:visited,
a:active,
a:target,
a::after,
a::before,
a:not([href]) {
    color: rgb(255, 255, 255) !important;
    -webkit-transition: color 0.9s;
    transition: color 0.9s;
}

a:hover,
a:focus {
    color: rgb(80, 141, 255) !important;
}

img {
    filter: brightness(50%);
    -webkit-transition: filter 0.9s;
    transition: filter 0.9s;
}

img:hover {
    filter: brightness(100%)
}
