
body {
    background: rgb(30, 34, 39) !important;
    background-color: rgb(30, 34, 39) !important;
    color: #ffffff;
}

body code[class*=language-],
body table tbody>tr:nth-child(odd)>td,
body table tbody>tr:nth-child(odd)>th {
    background: #282c34;
}
  

a,

a:hover,
a:focus,

a:link,
a:visited,
a:active,
a:target,
a::after,
a::before,
a:not([href]) {
    color: rgb(255, 255, 255) !important;
    -webkit-transition: color 0.7s;
    -moz-transition: color 0.7s;
    transition: color 0.7s;
}

a:hover,
a:focus {
    color: rgb(80, 141, 255) !important;
}

p {
    color: #ffffff !important;
}

img {
    filter: brightness(50%);
    -webkit-transition: filter 0.9s;
    transition: filter 0.9s;
}

img:hover {
    filter: brightness(100%) !important;
}
